<div class="container-lg my-5 border p-3">
  <div class="row">
    <h2 class="col">
      {{title}}
    </h2>
    <p class="col m-0 d-flex justify-content-end align-items-center">Posted by {{user.username}} on {{format_date date_posted}}</p>
  </div>
  <div>
    <p class="p-3">
      {{description}}
    </p>
  </div>
</div>
<div class="container-lg my-5 border p-3">
  <form class="form-group" id="commentForm">
    <label class="h3" for="commentText">Comment:</label>
    <input class="form-control" id="commentText" type="text" name="commentText">
    <input class="btn btn-light mt-4 py-1" type="submit" value="Submit">
  </form>
</div>

<script src="/js/comment.js"></script>