<div>
  <div>
    <h2>
      {{title}}
    </h2>
    <p>Posted by {{user.username}} on {{format_date date_posted}}</p>
  </div>
  <div>
    <p>
      {{description}}
    </p>
  </div>
</div>
<div>
  <form id="commentForm">
    <label for="commentText">Comment:</label>
    <input id="commentText" type="text" name="commentText"><br><br>
    <input type="submit" value="Submit">
  </form>
</div>

<script src="/js/comment.js"></script>