<div>
  <form id="editPostForm">
    <h2>Edit Post</h2>
    <label for="editPostTitle">Title:</label>
    <br>
    <input id="editPostTitle" type="text" name="editPostTitle" value="{{title}}">
    <br>
    <label for="editPostDescription">Description:</label>
    <br>
    <textarea name="editPostDescription" id="editPostDescription" cols="30" rows="10">{{description}}</textarea>
    <br><br>
    <input type="submit" value="Update Post">
    <br>
    <button id="deletePostButton">Delete Post</button>
  </form>
</div>