<div>
  <h2>Login</h2>
  <form id="loginForm">
    <div>
      <label for="usernameLogin">username:</label>
      <input type="text" id="usernameLogin" />
    </div>
    <div>
      <label for="passwordLogin">password:</label>
      <input type="password" id="passwordLogin" />
    </div>
    <div>
      <button type="submit" id="submitLogin">Login</button>
    </div>
  </form>
</div>
