<div>
  <form id="newPostForm">
    <h2>New Post</h2>
    <label for="newPostTitle">Title:</label>
    <br>
    <input id="newPostTitle" type="text" name="newPostTitle">
    <br>
    <label for="newPostDescription">Description:</label>
    <br>
    <textarea name="newPostDescription" id="newPostDescription" cols="30" rows="10"></textarea>
    <br><br>
    <input type="submit" value="Create">
  </form>
</div>