<div class="container-lg my-5 border p-3">
  <form class="form-group" id="newPostForm">
    <h2>New Post</h2>
    <label class="h4" for="newPostTitle">Title:</label>
    <br>
    <input class="form-control" id="newPostTitle" type="text" name="newPostTitle">
    <br>
    <label class="h4" for="newPostDescription">Description:</label>
    <br>
    <textarea class="form-control" name="newPostDescription" id="newPostDescription" cols="30" rows="10"></textarea>
    <br><br>
    <input class="btn btn-light py-1" type="submit" value="Create">
  </form>
</div>

<script src="/js/newpost.js"></script>