<div class="container-lg my-5 border p-3">
  <h2>Sign Up</h2>
  <form class="form-group pt-3" id="signupForm">
    <div>
      <label for="usernameSignup">username:</label>
      <input class="form-control" type="text" id="usernameSignup" />
    </div>
    <div>
      <label for="passwordSignup">password:</label>
      <input class="form-control" type="password" id="passwordSignup" />
    </div>
    <div>
      <button class="btn btn-light mt-4 py-1" type="submit" id="submitSignup">Sign Up</button>
    </div>
  </form>
</div>

<script src="./js/signup.js"></script>