<div>
  <h2>Sign Up</h2>
  <form id="signupForm">
    <div>
      <label for="usernameSignup">username:</label>
      <input type="text" id="usernameSignup" />
    </div>
    <div>
      <label for="passwordSignup">password:</label>
      <input type="password" id="passwordSignup" />
    </div>
    <div>
      <button type="submit" id="submitSignup">Sign Up</button>
    </div>
  </form>
</div>
